

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active">Reset Password</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Login Start -->
<div class="login">
    <div class="container">
        {{#if done}}

        <div class="section-header">
            <h3>Reset Password</h3>
            <p class="alert alert-success py-3">
                Your password has been updated. You now can <a href="/users/login">Login</a> now! With your new password.
            </p>
        </div>
        {{else}}
        {{#if expired}}

        <div class="section-header">
            <h3>Reset Password</h3>
            <p class="alert alert-warning py-3">
                Your link is expired!
            </p>
        </div>
        {{else}}
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <form action="/users/reset" method="post" id="formResetPassword">
                        <div class="register-form">
                            <div class="row">
                                <div class="col-md-6 mx-auto">
                                    <label>Password</label>
                                    <input class="form-control" type="password" placeholder="Password" name="password"  id="password" required  
                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                        onchange="checkPasswordConfirm('formResetPassword')"
                                        title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
                                </div>
                            </div>
                                <div class="row">
                                <div class="col-md-6 mx-auto">
                                    <label>Confirm Password</label>
                                    <input class="form-control" type="password" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword" required  
                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                        onkeyup="checkPasswordConfirm('formResetPassword')"
                                        title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
                                </div>
                            </div>
                                <div class="row">
                                <div class="col-md-6 mx-auto">
                                    <button class="btn mx-auto">Submit</button>
                                </div>
                                {{#if message}}
                                <div class="col-md-12">
                                    <div class="p-3 mt-3 alert alert-warning">{{{message}}}</div>
                                </div>
                                {{/if}}
                                <input type="hidden" name="email" value="{{email}}">
                                <input type="hidden" name="token" value="{{token}}">
                            </div>
                        </div>
                    </form>    
                </div>
            </div>
        {{/if}}
        {{/if}}
    </div>
</div>
<!-- Login End -->

